{% extends "restaurantes/layout.html" %}

{% block content %}

<br>
<div class="col-md-8 col-sm-offset-1">
    <div id="signupbox" class="mainbox col-md-9 col-md-offset-0 col-sm-8 col-sm-offset-0">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Editar restaurante</div>
            </div>  
            <div class="panel-body" >



<form class="form-horizontal" action="{% url 'editar_restaurante' %}" method='post'>{% csrf_token %}

    {% for field in form %}

        <div class="submit-link-row">{{ field.label_tag }} <br> {{ field }}</div>


        {% if form.errors %}
            {% for error in field.errors %}
    			<p1 style="color:red;">{{ error|escape }}</p1>
            {% endfor %}
        {% endif %}

        {% if field.help_text %}
        <p class="help-block">{{ field.help_text|safe }}</p>
        {% endif %}
<br>
    {% endfor %}
<br>



<input type="submit" name="enviar" value="Guardar" class="btn btn-primary btn btn-info" id="submit-id-signup" />
</form>

                            
                    </form>

                </form>
            </div>
        </div>
    </div> 
</div>
    





</div>            
{% endblock %}
